extends layout

block content
    div.posts
        h1=title

    div.container
        section.articles
            ul.article-ul
                each post in posts
                    li
                        a(href=post.url)
                            span= post.title
    //div.posts_body
    //    ul
    //        each book in book_list
    //            li
    //                a(href=book.url) #{book.title}
    //
